$primary-color: #555;

body {
    background-color: $primary-color;
}

.container {
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

.square {
    font-size: 3rem;
    border: 1px solid black;
    height: 9rem;
    padding-top: 1.563rem; //25px
}

.top-row {
    margin-top: 1rem;
}

.bottom-row {
    margin-bottom: 2rem;
}

.btn {
    cursor: pointer;
}

.contol-btns {
    margin: auto;
    margin-bottom: 2rem;
}

#menu-holder {
    position: absolute;
    width:100%;
    top: 5.313rem; //85px
    margin-left: -0.9375rem; //-15px
}

#menu {
    background-color: rgba(63, 121, 191, 0.9);
    width: 18.75rem; //300px
    margin: auto;
    padding-top: 4.688rem; //75px
    padding-bottom: 4.688rem; //75px
    text-align: center;
    border-radius: 0.3125rem; //5px
    color: white;
    font-size: 3rem;
}

#result {
    display: none;
}

.selection-prompt {
    font-size: 1.5rem;
}

.players-prompt {
    display: inline-block;
}

.token-prompt {
    display: none;
}

.difficulty-prompt {
    display: none;
}

#current-player {
    display: none;
    font-size: 1.5rem;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}